<div class="title-table">
    <table class="bordered-table padding-0" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
        
        <tbody>
            <tr class="padding-0">
                <td class="padding-0">
                    <table class="white-row">
                        <thead class="border-0">
                            <tr>
                                <th colspan="2">
                                    <span class="td-title">CONSUMER NAME</span>
                                    <span class="colon">:</span>
                                    <span class="td-desc">Mohana Parab</span>
                                </th>
                                <th style="padding-left: 0;">
                                    <span class="td-title">D.O.B</span>
                                    <span class="colon">:</span>
                                    <span class="td-desc">14/08/1963</span>
                                </th>
                                <th>
                                    <span class="td-title">GENDER</span>
                                    <span class="colon">:</span>
                                    <span class="td-desc">Male</span>
                                </th>
                                <th style="width: 330px;">
                                    <span class="td-title">CREDIT VISION® SCORE</span>
                                    <span class="colon">:</span>
                                    <span class="td-desc">780</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <table>
                        <tfoot>
                            <tr>
                                <td class="padding-0">
                                    <table class="white-row">
                                        <tr>
                                            <td class="foot-alert-info" colspan="">
                                                <img src="{{ "images/static-images/alert-red.png" | relURL }}">
                                                <span>INFORMATION UNDER DISPUTE</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="white-row">
                                        <tr>
                                            <td style="width: 690px;">
                                                <span class="td-title">CIBIL REMARKS</span>
                                                <span class="colon">:</span>
                                                <span class="td-desc">Multiple Disputes in Identification (ID) Segment</span>
                                            </td>
                                            <td colspan="">
                                                <span class="td-title">DAte Entered</span>
                                                <span class="colon">:</span>
                                                <span class="td-desc">21/04/2019</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>