<!-- consumer info table | start -->
<table class="bordered-table consumer-info horizontal-border" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        {{range .consumerInfo}}
        {{range .leftColumn}}
        <td class="inner-table-container first">
            <table class="inner-table" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                {{range .rows}}
                <tr>
                    <td class="td-title"><span>{{.title}}</span></td>
                    <td class="colon">:</td>
                    <td class="td-desc">{{.desc}}</td>
                </tr>
                {{end}}
            </table>
        </td>
        {{end}}
        {{range .rightColumn}}
        <td class="inner-table-container">
            <table class="inner-table" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                {{range .rows}}
                <tr>
                    <td class="td-title"><span>{{.title}}</span></td>
                    <td class="colon">:</td>
                    <td class="td-desc">{{.desc}}</td>
                </tr>
                {{end}}
            </table>
        </td>
        {{end}}
        {{end}}
    </tr>
</table>
<!-- consumer info table | end -->