<table class="bordered-table padding-0 consumer-account-details-table" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td>
            <table class="ac-table-head one" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                    <td class="ac-table-title {{.table_title_class}}">account information</td>
                    <td class="ac-dates-table">
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tr>
                                <td class="ac-dates {{.table_headDates_class}}"><span class="td-title">DATe Opened</span><span class="colon">: </span><span class="td-desc">12/05/2018</span></td>
                                <td class="line">|</td>
                                <td class="ac-dates {{.table_headDates_class}}"><span class="td-title">DATe CLOSED</span><span class="colon">: </span><span class="td-desc">12/05/2018</span></td>
                                <td class="line">|</td>
                                <td class="ac-dates"><span class="td-title">date reported & certified</span><span class="colon">: </span><span class="td-desc">12/05/2018</span></td>
                            </tr>
                        </table>
                    </td>
                    <td class="active status">active</td>
                    <td class="active img"><img style="vertical-align: bottom;" src="{{"images/static-images/active.png" | relURL}}" width="57"></td>
                </tr>
            </table>
            <table class="ac-table-body" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                    <td class="left-panel">
                        <table class="ac-table-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <thead>
                                <tr>
                                    <th>ACCOUNT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="ac-table-inner-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                            <tr>
                                                <td class="td-title">MEMBER NAME</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Not disclosed</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">Account Number</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Not disclosed</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">TYPE</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Personal Loan</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">OWNERSHIP</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Individual</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="middle-panel">
                        <table class="ac-table-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <thead>
                                <tr>
                                    <th colspan="2">AMOUNTS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="ac-table-inner-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                            <tr>
                                                <td class="td-title">MEMBER NAME</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Not disclosed</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">Account Number</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Not disclosed</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">TYPE</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Personal Loan</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">OWNERSHIP</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Individual</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table class="ac-table-inner-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                            <tr>
                                                <td class="td-title">MEMBER NAME</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Not disclosed</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">Account Number</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Not disclosed</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">TYPE</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Personal Loan</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">OWNERSHIP</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Individual</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="right-panel">
                        <table class="ac-table-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <thead>
                                <tr>
                                    <th>ACCOUNT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="ac-table-inner-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                            <tr>
                                                <td class="td-title">MEMBER NAME</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Not disclosed</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">Account Number</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Not disclosed</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">TYPE</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Personal Loan</td>
                                            </tr>
                                            <tr>
                                                <td class="td-title">OWNERSHIP</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">Individual</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="ac-table-head two" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                    <td class="ac-table-title">DAYS PAST DUE/ASSET CLASSIFICATION</td>
                    <td class="ac-dates-table">
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tr>
                                <td class="ac-dates {{.table_headDates_class}}"><span class="td-title">DATe Opened</span><span class="colon">: </span><span class="td-desc">12/05/2018</span></td>
                                <td class="line">|</td>
                                <td class="ac-dates {{.table_headDates_class}}"><span class="td-title">DATe CLOSED</span><span class="colon">: </span><span class="td-desc">12/05/2018</span></td>
                                <td class="line">|</td>
                                <td class="ac-dates"><span class="td-title">date reported & certified</span><span class="colon">: </span><span class="td-desc">12/05/2018</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="ac-table-body striped-table" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                        <td class="td-title">YEAR</td>
                    </tr>
                    <tr>
                        <td class="td-title">2019</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                    </tr>
                    <tr>
                        <td class="td-title">2019</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                    </tr>
                    <tr>
                        <td class="td-title">2019</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                        <td>028</td>
                    </tr>
                </tbody>
            </table>
            <table class="ac-table-footer" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                    <td>
                        <table class="footer-alert" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tr>
                                <td class="icon"><img style="vertical-align: bottom;" src="{{"images/static-images/alert-red.png" | relURL}}"></td>
                                <td>INFORMATION UNDER DISPUTE</td>
                            </tr>
                        </table>
                        <table class="footer-data" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tr>
                                <td><span class="td-title">CIBIL REMARKS</span><span class="colon">: </span><span class="td-desc">Written-off and Settled Status in Dispute</span></td>
                                <td><span class="td-title">DAte Entered</span><span class="colon">: </span><span class="td-desc">16/06/2019</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>