<div class="">
    <table class="title-table spaced-table bordered-table padding-0" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">

        <tbody>
            <tr>
                <td class="padding-0">
                    <table>
                        <thead>
                            <tr>
                                {{ range .tableHead }}
                                    <th>{{ .title }}</th>
                                {{ end }}
                                <!-- <th>Identification Type</th>
                                <th>Identification Number</th>
                                <th>ISSUE DATE</th>
                                <th style="width: 330px;">Expiration Date</th> -->
                            </tr>
                        </thead>
                    </table>
                    <table>
                        <span class="flot-symbol">(e)</span>
                        {{ range .tableBody }}
                        <tr>
                            {{ range $elem_index, $elem_val := .content }}
                            <td>{{ $elem_val }}</td>
                            {{ end }}
                        </tr>
                        {{ end }}
                        <!-- <tr>
                            <td>PAN Card</td>
                            <td>AHVPB6643A</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Voter ID</td>
                            <td>AHVPB6643A</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Adhar ID</td>
                            <td>Not Disclosed</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Passport No.</td>
                            <td>Not Disclosed</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr> -->
                    </table>
                    <table>
                        <tfoot>
                            <tr>
                                <td class="padding-0">
                                    <table class="white-row">
                                        <tr>
                                            <td class="foot-alert-info" colspan="">
                                                <img src="{{ "images/static-images/alert-red.png" | relURL }}">
                                                <span>INFORMATION UNDER DISPUTE</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="white-row">
                                        <tr>
                                            <td style="width: 690px;">
                                                <span class="td-title">CIBIL REMARKS</span>
                                                <span class="colon">:</span>
                                                <span class="td-desc">{{ .remark }}</span>
                                            </td>
                                            <td colspan="">
                                                <span class="td-title">DAte Entered</span>
                                                <span class="colon">:</span>
                                                <span class="td-desc">{{ .date }}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>