<table class="bordered-table padding-0 consumer-account-details-table {{if .break}} break {{ end }}" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" {{ if .customMargin }} style="margin-bottom: {{ .customMargin }}px;" {{ end }} >
    <tr>
        <td>
            <table class="ac-table-head one" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                    <td class="ac-table-title {{.table_title_class}}">{{.table1Name}}</td>
                    <td class="ac-dates-table">
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tr>
                                <td class="ac-dates {{.table_headDates_class}}"><span class="td-title">DATe Opened</span><span class="colon">: </span><span class="td-desc">{{range .tableHead1}}{{.date_opened}}{{end}}</span></td>
                                <td class="line">|</td>
                                <td class="ac-dates {{.table_headDates_class}}"><span class="td-title">DATe CLOSED</span><span class="colon">: </span><span class="td-desc">{{range .tableHead1}}{{.date_closed}}{{end}}</span></td>
                                <td class="line">|</td>
                                <td class="ac-dates"><span class="td-title">date reported & certified</span><span class="colon">: </span><span class="td-desc">{{range .tableHead1}}{{.date_reported}}{{end}}</span></td>
                            </tr>
                        </table>
                    </td>
                    <td class="{{.status}} status">{{.status}}</td>
                    
                    <td class="{{.status}} img"><img style="vertical-align: bottom;" {{ if eq .status "active" }}src="{{"images/static-images/active.png" | relURL}}" {{else}} src="{{"images/static-images/inactive.png" | relURL}}" {{ end }} width="57"></td>
                </tr>
            </table>
            <table class="ac-table-body border-bottom" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                    <td class="left-panel">
                        {{range .tableBody1_leftPanel}}
                        <table class="ac-table-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <thead>
                                <tr>
                                    <th>{{.title}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="ac-table-inner-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                            {{range .content}}
                                            <tr>
                                                <td class="td-title">{{.name}}</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">{{.desc}}</td>
                                            </tr>
                                            {{end}}
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {{end}}
                    </td>
                    <td class="middle-panel">
                        {{range .tableBody1_middlePanel}}
                        <table class="ac-table-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <thead>
                                <tr>
                                    <th colspan="2">{{.title}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="ac-table-inner-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                            {{range .contentLeft}}
                                            <tr>
                                                <td class="td-title">{{.name}}</td>
                                                <td class="colon">:</td>
                                                <td class="td-desc">{{.desc}}</td>
                                            </tr>
                                            {{end}}
                                        </table>
                                    </td>
                                    <td>
                                        <table class="ac-table-inner-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                            {{if gt (len .contentRight) 0}}
                                                {{range .contentRight}}
                                                <tr>
                                                    <td class="td-title">{{.name}}</td>
                                                    <td class="colon">:</td>
                                                    <td class="td-desc">{{.desc}}</td>
                                                </tr>
                                                {{end}}
                                            {{end}}
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {{end}}
                    </td>
                    <td class="right-panel">
                        {{range .tableBody1_rightPanel}}
                        <table class="ac-table-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <thead>
                                <tr>
                                    <th>{{.title}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <table class="ac-table-inner-columns" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                            {{range .content}}
                                            <tr>
                                                {{if gt (len .name) 0}}
                                                <td class="td-title">{{.name}}</td>
                                                <td class="colon">:</td>
                                                {{end}}
                                                <td class="td-desc">{{.desc}}</td>
                                            </tr>
                                            {{end}}
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {{end}}
                    </td>
                </tr>
            </table>
            <table class="ac-table-head two" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                    <td class="ac-table-title">{{.table2Name}}</td>
                    <td class="ac-dates-table">
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tr>
                                <td class="ac-dates {{.table_headDates_class}}"><span class="td-title">START DATE</span><span class="colon">: </span><span class="td-desc">{{range .tableHead2}}{{.start_date}}{{end}}</span></td>
                                <td class="line">|</td>
                                <td class="ac-dates {{.table_headDates_class}}"><span class="td-title">END DATE</span><span class="colon">: </span><span class="td-desc">{{range .tableHead2}}{{.end_date}}{{end}}</span></td>
                                <td class="line">|</td>
                                <td class="ac-dates"><span class="td-title">LAST PAYMENT</span><span class="colon">: </span><span class="td-desc">{{range .tableHead2}}{{.last_payment}}{{end}}</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="ac-table-body striped-table {{ if .cibil_remark | and .date_entered }}border-bottom{{end}}" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td class="td-title">Year</td>
                        {{range .horizontal_rows}}
                        <td class="td-title">{{.}}</td>
                        {{end}}
                    </tr>
                    {{range .tableBody_daysPastDue}}
                    <tr>
                        <td class="td-title">{{.year}}</td>
                        {{ range .content }}
                            <td>{{ .jan }}</td>
                            <td>{{ .feb }}</td>
                            <td>{{ .mar }}</td>
                            <td>{{ .apr }}</td>
                            <td>{{ .may }}</td>
                            <td>{{ .jun }}</td>
                            <td>{{ .jul }}</td>
                            <td>{{ .aug }}</td>
                            <td>{{ .sep }}</td>
                            <td>{{ .oct }}</td>
                            <td>{{ .nov }}</td>
                            <td>{{ .dec }}</td>
                        {{ end }}
                    </tr>
                    {{end}}
                </tbody>
            </table>
            {{ if .cibil_remark | and .date_entered }}
            <table class="ac-table-footer" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                    <td>
                        <table class="footer-alert" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tr>
                                <td class="icon"><img style="vertical-align: bottom;" src="{{"images/static-images/alert-red.svg" | relURL}}"></td>
                                <td>{{.footer_text}}</td>
                            </tr>
                        </table>
                        <table class="footer-data" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tr>
                                <td><span class="td-title">CIBIL REMARKS</span><span class="colon">: </span><span class="td-desc">{{.cibil_remark}}</span></td>
                                <td><span class="td-title">DAte Entered</span><span class="colon">: </span><span class="td-desc">{{.date_entered}}</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            {{ else }}
                <table><tr><td class="empty-td"></td></tr></table>
            {{ end }}
        </td>
    </tr>
</table>