<div>
    <table class="title-table bordered-table padding-0" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
        
        <tbody>
            <tr class="padding-0">
                <td>
                    <!-- <table>
                        <thead>
                            <tr>
                                <th>Identification Type</th>
                                <th>Identification Number</th>
                                <th>ISSUE DATE</th>
                                <th style="width: 330px;">Expiration Date</th>
                            </tr>
                        </thead>
                    </table> -->
                    <table>
                        <tr>
                            <td>mohanaparab@gmail.com</td>
                            <!-- <td>AHVPB6643A</td>
                            <td>NA</td>
                            <td>NA</td> -->
                        </tr>
                        <tr>
                            <td>parabmohana12@yahoo.com</td>
                            <!-- <td>AHVPB6643A</td>
                            <td>NA</td>
                            <td>NA</td> -->
                        </tr>
                        <tr>
                            <td>mp1234@hotmail.com</td>
                            <!-- <td>Not Disclosed</td>
                            <td>NA</td>
                            <td>NA</td> -->
                        </tr>
                        <tr>
                            <td>parabmohana12@gmail.com</td>
                            <!-- <td>Not Disclosed</td>
                            <td>NA</td>
                            <td>NA</td> -->
                        </tr>
                    </table>
                    <table>
                        <tfoot>
                            <tr>
                                <td class="padding-0">
                                    <table class="white-row">
                                        <tr>
                                            <td class="foot-alert-info" colspan="">
                                                <img src="{{ "images/static-images/alert-red.png" | relURL }}">
                                                <span>INFORMATION UNDER DISPUTE</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="white-row">
                                        <tr>
                                            <td style="width: 690px;">
                                                <span class="td-title">CIBIL REMARKS</span>
                                                <span class="colon">:</span>
                                                <span class="td-desc">Multiple Disputes in Identification (ID) Segment</span>
                                            </td>
                                            <td colspan="">
                                                <span class="td-title">DAte Entered</span>
                                                <span class="colon">:</span>
                                                <span class="td-desc">21/04/2019</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>