<div class="title-table">
    <h4 class="table-title">ENQUIRY SUMMARY</h4>
    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
        <thead>
            <tr>
                <th>TOTAL EnQuIRIES</th>
                <th>Most Recent</th>
                <th>Past 30 Days</th>
                <th>Past 12 Months</th>
                <th>Past 24 Months</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>14</td>
                <td>31/10/2021</td>
                <td>3</td>
                <td>6</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</div>