<table class="default-table {{.className}}" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    
    <tbody>
        <tr>
            <td class="padding-0">
                <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                    <thead>
                        <tr>
                            <th>Survey No. {{ .surveyNo }}</th>
                        </tr>
                    </thead>
                </table>
                <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tr class="body-head">
                        <td>ADDRESS</td>
                        <td>AREA (Ha)*</td>
                        <td>CROPS GROWN</td>
                    </tr>
                    <tr>
                        <td>{{ .address }}
                            <span class="small-light" style="margin-bottom: 10px;">{{ .location }}</span>
                        </td>
                        <td>{{ .area }}</td>
                        <td>{{ .crops }}</td>
                    </tr>
                    <tr class="body-head">
                        <td>IRRIGATION CONDITION</td>
                        <td>CROPPING INTENSITY</td>
                        <td>RECENT CROP PERFORMANCE</td>
                    </tr>
                    <tr class="image-tr">
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <img src= {{ if eq .irrigationCondition "Irrigated"}} '{{ "images/static-images/check.png" | relURL }}' {{ else }} '{{ "images/static-images/cross.png" | relURL }}' {{ end }}>
                                    </td>
                                    <td colspan="4">
                                        {{ .irrigationCondition }}
                                        <span class="small-light">(as per {{ .date}})</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <img src= {{ if eq .croppingIntensity "Twice" }} '{{ "images/static-images/twice-year.png" | relURL }}' {{ else }} '{{ "images/static-images/once-year.png" | relURL }}' {{end}}>
                                    </td>
                                    <td colspan="4">
                                        {{ .croppingIntensity }} a year
                                        <span class="small-light">(as per 04/2021)</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <img src= {{ if eq .performance "Good" }}'{{ "images/static-images/good.png" | relURL }}' {{ else if eq .performance "Average" }} '{{ "images/static-images/average.png" | relURL }}' {{ else }} '{{ "images/static-images/bad.png" | relURL }}' {{ end }}>
                                    </td>
                                    <td colspan="4">
                                        {{ .performance }}
                                        <span class="small-light">(as per 04/2021)</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>