<table role="presentation" aria-hidden="true" class="no-break" cellspacing="0" cellpadding="0" border="0" align="center"
    style="padding-top: 20px; margin-top: 40px; border-top: 1px solid #ACACAC;">
    <tr class="footer-text-light">
        <td style="text-align: left;" colspan="2">
            <span>© 2022 TransUnion CIBIL Limited. (Formerly: Credit Information Bureau (India) Limited). All rights
                reserved.</span>
            <!-- <span class="footer-logo-image">
                <img src='{{"images/static-images/satsure.png" | relURL}}'>
            </span> -->
        </td>
    </tr>
    <tr class="footer-text-dark">
        <td style="text-align: left;">
            <p>TransUnion CIBIL CIN : {{ .cin }}</p>
        </td>
        <td style="text-align: right;">
            <p>Page {{ .pageNo }}</p>
        </td>
    </tr>
</table>