<table class="bordered-table circle-graph-table" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td class="left-side">
            <img class="graph-img" src="{{"images/dynamic-images/farm-score-graph-720.png" | relURL}}">
            <p class="td-title">Scoring Factors</p>
            <ul class="list">
                <li>1. Credit card balances are high in proportion to high credit amount</li>
                <li>2. Low proportion of satisfactory trades.</li>
                <li>3. One or more trades with suit filed status in the past 24 months.</li>
                <li>4. Presence of delinquency.</li>
                <li>5. Low average trade age.</li>
            </ul>
        </td>
        <td class="right-side">
            <img class="graph-img" src="{{"images/dynamic-images/farm-score-graph-810.png" | relURL}}">
            <p class="td-title">FACTORS CONTRIBUTING TOWARDS SATSCORE</p>
            <table class="factors" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                    <td class="factor">
                        <p class="factor-value"><span class="highlight">200</span>/200</p>
                        <p class="factor-rating">(Base)</p>
                        <p class="factor-title">BASE SCORE</p>
                    </td>
                    <td class="factor">
                        <p class="factor-value"><span class="highlight">200</span>/200</p>
                        <p class="factor-rating">(Base)</p>
                        <p class="factor-title">BASE SCORE</p>
                    </td>
                    <td class="factor">
                        <p class="factor-value"><span class="highlight">200</span>/200</p>
                        <p class="factor-rating">(Base)</p>
                        <p class="factor-title">BASE SCORE</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>