<table class="bordered-table circle-graph-table" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td class="left-side">
            <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                {{range .leftGraph}}
                <tr>
                    <td>
                        <img class="graph-img" src="{{ .graph_image | relURL}}">
                        <p class="td-title">{{.list_title}}</p>
                        <ul class="list">
                            {{range .list_factors}}
                            <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </td>
                </tr>
                {{end}}
            </table>
        </td>
        <td class="right-side">
            <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                {{if .rightGraph}}
                {{range .rightGraph}}
                <tr>
                    <td>
                        <img class="graph-img" src="{{ .graph_image | relURL}}">
                        <p class="td-title">{{.list_title}}</p> 
                        <table class="factors" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tr>
                                {{range .list_factors}}
                                <td class="factor">
                                    <p class="factor-value"><span class="highlight">{{.contr_factors}}</span>/{{.total_factors}}</p>
                                    <p class="factor-rating">{{.factor_rating}}</p>
                                    <p class="factor-title">{{.factor_title}}</p>
                                </td>
                                {{end}}
                            </tr>
                        </table>
                    </td>
                </tr>
                {{end}}
                {{else}}
                <tr>
                    <td>
                        <img class="graph-img" src="{{ "images/static-images/farm-score-graph-empty1.png" | relURL}}">
                        <p class="td-title" style="margin-bottom:10px;">FACTORS AFFECTING TOWARDS SATSCORE</p> 
                    </td>
                </tr>
                <tr>
                    <td class="empty-state">No data available</td>
                </tr>
                {{end}}
            </table>
        </td>
    </tr>
</table>