<table class="site-header"  role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td style="width: 70%; border-bottom: 7px solid #FCD800;" >
            <table style="text-align: left;">
                <tr>
                    <td style="border-right: 3px solid #2d2c2c; width: 433px;">
                        <span class="td-title">REPORT DATE & TIME</span> : <span class="td-desc">{{ .dateTime }}</span>
                    </td>
                    <td style="text-align: left; padding-left: 45px;">
                        <span class="td-title">CONTROL NUMBER</span> : <span class="td-desc">{{ .controlNo }}</span>
                    </td>
                </tr>
            </table>
        </td>
        <td style="text-align: right; padding-left: 30px;">
            <img style="vertical-align: bottom;" src="{{"images/static-images/logo.png" | relURL}}">
        </td>
    </tr>
</table>