<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td style="width: 70%; border-bottom: 7px solid #FCD800;" >
            <table style="text-align: left;">
                <tr>
                    <td style="border-right: 3px solid #2d2c2c;">
                        <span class="td-title">REPORT DATE & TIME</span> : <span class="td-desc">07/04/2022 (15:30:40)</span>
                    </td>
                    <td style="text-align: center;">
                        <span class="td-title">CONTROL NUMBER</span> : <span class="td-desc">2,40,87,03,312</span>
                    </td>
                </tr>
            </table>
        </td>
        <td style="text-align: right; padding-left: 30px;">
            <img style="vertical-align: bottom;" src="{{"images/static-images/logo.png" | relURL}}">
        </td>
    </tr>
</table>