{{if .tableHead | or .tableBody}}
<div {{ if .customMargin }}style=" margin-bottom: {{ .customMargin }}px;"{{ end }}>
    <table class="title-table bordered-table padding-0" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">

        <tbody>
            <tr>
                <td class="padding-0">
                    <table class="subtext-table">
                        <thead>
                            <tr>
                                {{ range .tableHead }}
                                    <th >{{ .title | safeHTML }}</th>
                                {{ end }}
                            </tr>
                        </thead>
                    </table>
                    <table class="subtext-table">
                        {{ range .tableBody }}
                        <tr>
                            {{ range $elem_index, $elem_val := .content }}
                            <td>{{ $elem_val | safeHTML }}</td>
                            {{ end }}
                        </tr>
                        {{ end }}
                    </table>
                    {{ if .remark | and .date }}
                    <table>
                        <tfoot>
                            <tr>
                                <td class="padding-0">
                                    <table class="white-row">
                                        <tr>
                                            <td class="foot-alert-info" colspan="">
                                                <img src="{{ "images/static-images/alert-red.png" | relURL }}">
                                                <span>INFORMATION UNDER DISPUTE</span>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="white-row">
                                        <tr>
                                            <td style="width: 690px;">
                                                <span class="td-title">CIBIL REMARKS</span>
                                                <span class="colon">:</span>
                                                <span class="td-desc">{{ .remark }}</span>
                                            </td>
                                            <td colspan="">
                                                <span class="td-title">DAte Entered</span>
                                                <span class="colon">:</span>
                                                <span class="td-desc">{{ .date }}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    {{ end }}
                </td>
            </tr>
        </tbody>
        
    </table>
</div>
{{else}}
{{partial "empty-state" (dict "message" "No employment information reported for this consumer")}}
{{end}}