{{if .tableHead | or .tableBody}}
<div {{ if .customMargin }}style=" margin-bottom: {{ .customMargin }}px;"{{ end }}>
    <table class="title-table bordered-table padding-0 {{if .break}}break{{end}}" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">

        <tbody>
            <tr>
                <td class="padding-0">
                    <!-- <table class="subtext-table"> 
                    </table> -->
                    <table class="subtext-table">
                        <thead>
                            <tr>
                                {{ range .tableHead }}
                                    <th >{{ .title | safeHTML }}</th>
                                {{ end }}
                            </tr>
                        </thead>
                        <tbody>
                            {{ range .tableBody }}
                            <tr>
                                {{ range $elem_index, $elem_val := .content }}
                                <td>{{ $elem_val | safeHTML }}</td>
                                {{ end }}
                            </tr>
                            {{ end }}
                        </tbody>
                        <tfoot>
                            {{ if .remark | and .date }}
                                <tr>
                                    {{ $arrayFirstElement := index .tableBody 0 }}
                                    <td class="padding-0" colspan="{{ len $arrayFirstElement.content }}" >
                                        <table class="white-row">
                                            <tr>
                                                <td class="foot-alert-info" colspan="">
                                                    <img src="{{ "images/static-images/alert-red.svg" | relURL }}">
                                                    <span>INFORMATION UNDER DISPUTE</span>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="white-row">
                                            <tr>
                                                <td style="width: 690px;">
                                                    <span class="td-title">CIBIL REMARKS</span>
                                                    <span class="colon">:</span>
                                                    <span class="td-desc">{{ .remark }}</span>
                                                </td>
                                                <td colspan="">
                                                    <span class="td-title">DAte Entered</span>
                                                    <span class="colon">:</span>
                                                    <span class="td-desc">{{ .date }}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                {{ else }}
                                <tr>
                                    {{ $arrayFirstElement := index .tableBody 0 }}
                                    <td class="empty-td" colspan="{{ len $arrayFirstElement.content }}" ></td>
                                </tr>
                            {{ end }}
                        </tfoot>
                    </table>
                    <!-- <table>
                    </table> -->
                </td>
            </tr>
        </tbody>
        
    </table>
</div>
{{else}}
{{partial "empty-state" (dict "message" .message )}}
{{end}}