<!-- page title | start -->
<table id="page-title" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" >
    <tr>
        <td>
            <h1 class="page-title {{.className}}" {{ if .customMargin }}style=" margin-bottom: {{ .customMargin }}px;"{{ end }} >{{ .pageTitle }}{{if .info}} {{ partial "info-icon" (dict "message" .info "className" "up" )}} {{end}}{{ if .pageTitleSmall }}<span class="small-text">{{ .pageTitleSmall | safeHTML }}</span>{{ end }}</h1>
        </td>
    </tr>
</table>
<!-- page title | end -->