{{ $total := .targetValue }}
<table class="title-table bordered-table padding-0 minus-horizontal-border white-row {{if .break}}break{{end}}" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" style="border-collapse: collapse;">
    <tr>
        <td>
            <table class="{{.className}} boxed-table inverted-color" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                <thead>
                    <tr>
                        <th>SEASON {{if ne .hideInfo true }} {{ partial "info-icon" (dict "message" "To asses the seasonal cropping pattern in a year (Kharif & Rabi)") }} {{end}}</th>
                        <th>CROP NAME {{if ne .hideInfo true }} {{ partial "info-icon" (dict "message" "Crops grown in the farm in different seasons") }} {{end}}</th>
                        <th>PRICE <br>(₹/100KG)</th>
                        <th style="width: 180px;">CROP PERFORMANCE {{if ne .hideInfo true }}{{ partial "info-icon" (dict "message" "Performance of the crop grown in the farm basis the yield and revenue potential") }}{{end}}</th>
                        <th colspan="3">
                            CROP YIELD (KG/Ha) {{if ne .hideInfo true }}{{ partial "info-icon" (dict "message" "Comparision between yield/unit area at farm vis a vis district to determine the productivity level of the farm") }}{{end}}
                            <p class="yeild-indicators">
                                <span class="indicator">
                                    <span class="primary"></span>
                                    Potential Yield of Farms
                                </span>
                                <span class="indicator">
                                    <span class="secondary"></span>
                                    Threshold Yield in District
                                </span>
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .tableBody }}
                    <tr>
                        {{ range $elem_index_1, $elem_val_1 := .data }}
                            <td  {{ if eq $elem_index_1 4 }} colspan="3" {{ end }}>
                                <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                    {{ range $elem_index_2, $elem_val_2 := .content }}
                                        <tr>
                                            <td style="position: relative;">
                                                {{ if eq $elem_index_1 4 }}
                                                
                                                        <span class="left-float">
                                                            {{ $intVal := int ( replace $elem_val_2.farm "," "" ) }}
                                                            {{ $intVal2 := int ( replace $elem_val_2.district "," "" ) }}
                                                            <span class="bar primary" {{int (.targetValue)}} style="width: {{ int ( div (mul $intVal 100.0) $total ) }}%;"></span>
                                                            <span class="bar secondary" style="width: {{ int ( div (mul $intVal2 100.0) $total ) }}%;" ></span>
                                                        </span>
                                                        <span class="right-float">
                                                            <span class="primary-color" >{{ $elem_val_2.farm }}</span> <span class="secondary-color">({{ $elem_val_2.district }})</span>
                                                        </span>
                                                    
                                                {{ else }}
                                                    {{ $elem_val_2 }}
                                                {{ end }}
                                            </td>
                                        </tr>
                                    {{ end }}
                                </table>
                            </td>
                        {{ end }}
                    </tr>
                    {{ end }}
                </tbody>
                <!-- <tfoot>
                    <tr><td class="empty-td" style="border: 0;"></td></tr>
                </tfoot> -->
            </table>
        </td>
    </tr>
</table>