<table class="bordered-table summary-table" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <thead>
        <tr>
            <th>ACCOUNTS</th>
            <th>BALANCES</th>
            <th>ACCOUNT OPENED DATE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tr>
                        <td>
                            <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                <tr>
                                    <td class="summary-title">Total</td>
                                    <td class="colon">:</td>
                                    <td class="summary-desc">179</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">Total</td>
                                    <td class="colon">:</td>
                                    <td class="summary-desc">179</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">Total</td>
                                    <td class="colon">:</td>
                                    <td class="summary-desc">179</td>
                                </tr>
                            </table>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td>
                <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tr>
                        <td>
                            <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                <tr>
                                    <td class="summary-title">Total</td>
                                    <td class="colon">:</td>
                                    <td class="summary-desc">179</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">High Cr/Sanc. Amt</td>
                                    <td class="colon">:</td>
                                    <td class="summary-desc">179</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">Total</td>
                                    <td class="colon">:</td>
                                    <td class="summary-desc">179</td>
                                </tr>
                            </table>
                        </td>
                        
                    </tr>
                </table>
            </td>
            <td>
                <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                    <tr>
                        <td>
                            <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                                <tr>
                                    <td class="summary-title">Total</td>
                                    <td class="colon">:</td>
                                    <td class="summary-desc">179</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">Total</td>
                                    <td class="colon">:</td>
                                    <td class="summary-desc">179</td>
                                </tr>
                                <tr>
                                    <td class="summary-title">Total</td>
                                    <td class="colon">:</td>
                                    <td class="summary-desc">27/07/2018</td>
                                </tr>
                            </table>
                        </td>
                        
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>