{{ define "main" }}
<table class="no-break">
    <tr>
        <td>
            {{ partial "page-title" (dict "pageTitle" "CIBIL CREDIT AND FARM REPORT" "pageTitleSmall" "in partnership with <b>SatSure</b>" ) }}
        </td>
    </tr>
</table>

    {{ partial "error-block.html" (dict "errorMessage" "YOUR REQUEST HAS BEEN REJECTED BY THE CREDIT BUREAU SERVER. PLEASE MAKE THE APPROPRIATE CHANGE AND RESUBMIT THE REQUEST OR CONTACT THE SYSTEM ADMINISTRATOR.") }}

    {{ partial "error-block.html" (dict "errorMessage" "WE ARE UNABLE TO FETCH FARM DETAILS FOR YOUR REQUEST, PLEASE MAKE THE APPROPRIATE CHANGE AND RESUBMIT THE REQUEST OR CONTACT THE SYSTEM ADMINISTRATOR.") }}

    {{partial "spacer" (dict "space" "800")}}

    {{ partial "title-table" (dict "tableHead" .Site.Data.disclaimer2.table_head "tableBody" .Site.Data.disclaimer2.table_body "className" "white-row disclaimer text-break-format" ) }}

{{ end }}