{{ define "main" }}
<table class="no-break">
    <tr>
        <td>
            {{ partial "page-title" (dict "pageTitle" "CIBIL CREDIT AND FARM REPORT" "pageTitleSmall" "in partnership with <b>SatSure</b>" ) }}
        </td>
    </tr>
</table>

{{ partial "error-block.html" (dict "errorMessage" "YOUR REQUEST HAS BEEN REJECTED BY THE CREDIT BUREAU SERVER. PLEASE MAKE THE APPROPRIATE CHANGE AND RESUBMIT THE REQUEST OR CONTACT THE SYSTEM ADMINISTRATOR." "title" "CONSUMER CIR") }}



<table class="no-break">
    <tr>
        <td>
            {{ partial "page-title" (dict "pageTitle" "FARM REPORT" "className" "section-title") }}
            {{ partial "table-title.html" (dict "tableTitle" "FARm DETAILS") }}
            {{ partial "info-table.html" (dict "data" .Site.Data.farm_details.data )}}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "FARM INFORMATION") }}
            {{ partial "title-table" (dict "tableHead" .Site.Data.farmInformation.table_head "tableBody" .Site.Data.farmInformation.table_body "break" "true" ) }}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "CIBIL Transunion Score(s) And CONSUMER FARM(s) Score") }}
            {{ partial "halfcircle-graphs" (dict "leftError" true "errorMessage" "Request has been rejected." "rightGraph" .Site.Data.server_cir_no_response.halfcircle_graph.right_graph) }}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "CONSUMER FARM SUMMARY") }}
            {{ partial "consumer-farm-summary-v2" (dict "comsumerFarmSummary" .Site.Data.server_cir_no_response.consumer_farm_summary_v2.comsumerFarmSummary) }}
            {{ partial "info-light-text" (dict "text" "LAST TWO SEASON’S DATA" )}}
        </td>
    </tr>
</table>
{{ end }}