{{ define "main"}}
<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "ENQUIRY SUMMARY") }}
            {{ partial "title-table" (dict "tableHead" .Site.Data.enquiry_summary.table_head "tableBody" .Site.Data.enquiry_summary.table_body ) }}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "CREDITVISION® ALGORITHM(S)") }}
            {{ partial "algorithm-table" (dict "algorithm_table" .Site.Data.server_agri_no_response.algorithm_table  ) }}
        </td>
    </tr>
</table>

{{ end }}