{{ define "main" }}

    <table class="no-break">
        <tr>
            <td>
                {{ partial "page-title" (dict "pageTitle" "CONSUMER DISPUTE REMARKS" "className" "medium") }}
                {{ partial "table-title" (dict "tableTitle" "DISPUTES") }}
                {{ partial "title-table" (dict "tableHead" .Site.Data.server_agri_no_response.disputes.table_head "tableBody" .Site.Data.server_agri_no_response.disputes.table_body "className" "dispute-table" "break" true ) }}
            </td>
        </tr>
    </table>

    {{ partial "page-title.html" (dict "pageTitle" "GLOSSARY" "customMargin" "10" "className" "medium") }}
    {{ partial "title-table" (dict "headColspan" false "tableHead" .Site.Data.server_agri_no_response.glossary_data.table_head "tableBody" .Site.Data.server_agri_no_response.glossary_data.table_body "className" "text-break-format glossary-table inverted-color-table" "headerTitle" "CIR DATA GLOSSARY" "break" true ) }}

{{ end }}