{{ define "main" }}

<table class="no-break">
    <tr>
        <td>
            {{ partial "page-title" (dict "pageTitle" "CONSUMER ENQUIRY DETAILS" "className" "medium") }}
            {{ partial "table-title.html" (dict "tableTitle" "Enquiries") }}
            {{ partial "information-table.html" (dict "tableHead" .Site.Data.enquiries.table_head "tableBody" .Site.Data.enquiries.table_body "customMargin" "70" "break" true ) }}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "page-title" (dict "pageTitle" "CONSUMER DISPUTE REMARKS" "className" "medium") }}
            {{ partial "table-title" (dict "tableTitle" "DISPUTES") }}
            {{ partial "title-table-empty" (dict "tableHead" .Site.Data.disputes.table_head "className" "dispute-table" ) }}
        </td>
    </tr>
</table>

{{ end }}