{{ define "main" }}
{{ partial "table-title" (dict "tableTitle" "RELATIONSHIP SUMMARY") }}
{{ partial "title-table" (dict "tableHead" .Site.Data.relationship_summary.table_head "tableBody" .Site.Data.relationship_summary.table_body "className" "relationship-summary" ) }}
{{ partial "table-title" (dict "tableTitle" "ENQUIRY SUMMARY") }}
{{ partial "title-table" (dict "tableHead" .Site.Data.enquiry_summary.table_head "tableBody" .Site.Data.enquiry_summary.table_body ) }}
{{ partial "consumer-farm-summary.html" (dict "tableData" .Site.Data.consumer_farm_summary.data ) }}
{{partial "spacer" (dict "space" "38")}}
{{ end }}