{{ define "main" }}
    
    {{ partial "page-title.html" (dict "pageTitle" "CONSUMER FARM DETAILS") }}
    
    {{ partial "table-title.html" (dict "tableTitle" "Employment Information") }}
    {{ partial "info-table.html" (dict "data" .Site.Data.farm_details.data )}}   

    {{ partial "table-title-with-id" (dict "tableTitle" "MAJOR Crops in the region" "subTitle" "(In the district of Rajkot)" "property" "Total Agricultural area in Rajkot district" "value" "6,08,802 ha") }}
    {{ partial "title-table" (dict "tableHead" .Site.Data.major_crops.table_head "tableBody" .Site.Data.major_crops.table_body ) }}

    {{ partial "table-title.html" (dict "tableTitle" "CROPPING HISTORY & PERFORMANCE") }}
    {{ partial "performance-table.html" (dict "tableBody" .Site.Data.history_performance.table_body ) }}

{{ end }}