{{ define "main" }}
    {{ partial "page-title" (dict "pageTitle" "Consumer Details" ) }}
    {{ partial "table-title.html" (dict "tableTitle" "CONSUMER INFORMATION") }}
    {{ partial "consumer-details-table.html" (dict "tableHead" .Site.Data.customer_information.table_head "remark" .Site.Data.customer_information.remark "date" .Site.Data.customer_information.date )  }}
    {{ partial "table-title.html" (dict "tableTitle" "Identification(s)") }}
    {{ partial "consumer-details-table-spaced.html" (dict "tableHead" .Site.Data.identifications.table_head "tableBody" .Site.Data.identifications.table_body "remark" .Site.Data.identifications.remark "date" .Site.Data.identifications.date ) }}
    {{ partial "info-light-text" (dict "text" "(e) - Identification reported from enquiry" )}}
    {{ partial "table-title.html" (dict "tableTitle" "TELEPHONE(S)") }}
    {{ partial "consumer-details-table-spaced.html" (dict "tableHead" .Site.Data.telephones.table_head "tableBody" .Site.Data.telephones.table_body "remark" .Site.Data.telephones.remark "date" .Site.Data.telephones.date ) }}
    {{ partial "info-light-text" (dict "text" "(e) - TELEPHONE reported from enquiry" )}}
    {{ partial "table-title.html" (dict "tableTitle" "EMAIL CONTACT(S)") }}
    {{ partial "consumer-details-table.html" (dict "tableBody" .Site.Data.email_contact.table_body "remark" .Site.Data.email_contact.remark "date" .Site.Data.email_contact.date ) }}
    {{partial "spacer" (dict "space" "305")}}
{{ end }}