{{ define "main" }}
<!-- page title | start -->
    <table id="page-title" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
        <tr>
            <td>
                <h1 class="page-title">CIBIL FARM REPORT<span class="small-text">powered by SatSure</span></h1>
            </td>
        </tr>
    </table>
<!-- page title | end -->
<!-- consumer info table | start -->
    <table class="member-details" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
        <tr>
            <td>
                <p><span class="td-title">MEMBER ID</span><span class="colon">:</span><span class="td-desc">56559252325</span></p>
            </td>
            <td>
                <p><span class="td-title">reference number</span><span class="colon">:</span><span class="td-desc">5653AFG34</span></p>
            </td>
            <td>
                <p><span class="td-title">CONTROL NUMBER</span><span class="colon">:</span><span class="td-desc">2,40,87,03,312</span></p>
            </td>
        </tr>
    </table>
<!-- consumer info table | end -->
<!-- table title | start -->
<table id="table-title" role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td>
            <h1 class="table-title">CONSUMER INFORMATION</h1>
        </td>
    </tr>
</table>
<!-- table title | end -->
{{ end }}