<!DOCTYPE html>
<html>
{{ partial "head.html" }}
<body>
    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="600"
        class="document main-container">
        <tr>
            <td valign="top" id="content">
                {{ partial "header-backup.html" (dict "dateTime" "07/04/2022 (15:30:40)" "controlNo" "2408703312") }}
                {{- block "main" . -}}{{- end -}}
                {{ partial  "footer.html" (dict "pageNo" .Params.pageNo "cin" "U72300MH2000PLC128359" ) }}
            </td>
        </tr>
    </table>
</body>

</html>