<!DOCTYPE html>
<html>
{{ partial "head.html" }}
<body>
    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="600"
        class="document" style="max-width: 600px;min-width: 600px;width: 100%;margin: auto;">
        <tr>
            <td valign="top" id="content">
                {{ partial "header.html" }}
                {{- block "main" . }}{{- end }}
                {{ partial  "footer.html" }}
            </td>
        </tr>
    </table>
</body>

</html>