{{ define "main" }}

<table class="no-break">
    <tr>
        <td>
            {{ partial "title-table" (dict "tableHead" .Site.Data.no_agri_no_cir.glossary_data2.table_head "tableBody" .Site.Data.no_agri_no_cir.glossary_data2.table_body "className" "text-break-format glossary-table inverted-color-table" "headerTitle" "CIR DATA GLOSSARY" ) }}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "title-table" (dict "tableBody" .Site.Data.glossary_farm_data.table_body "className" "white-row compact-row" "headerTitle" "FARM DATA GLOSSARY" ) }}
            {{ partial "report-end" (dict "text" "END OF REPORT ON Mohana Parab") }}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "title-table" (dict "tableHead" .Site.Data.disclaimer.table_head "tableBody" .Site.Data.disclaimer.table_body "className" "white-row disclaimer text-break-format" ) }}
        </td>
    </tr>
</table>

{{ end }}