{{ define "main" }}
<table class="break">
    <tr>
        <td>
            {{ partial "page-title" (dict "pageTitle" "CONSUMER ENQUIRY DETAILS" "className" "medium") }}
            {{ partial "table-title.html" (dict "tableTitle" "Enquiries") }}
            {{ partial "information-table.html" (dict "tableHead" .Site.Data.no_cir.enquiries.table_head "tableBody" .Site.Data.no_cir.enquiries.table_body "customMargin" "70" "break" true ) }}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "page-title" (dict "pageTitle" "CONSUMER DISPUTE REMARKS" "className" "medium") }}
            {{ partial "table-title" (dict "tableTitle" "DISPUTES") }}
            {{ partial "title-table" (dict "tableHead" .Site.Data.disputes.table_head "tableBody" .Site.Data.disputes.table_body "className" "dispute-table" "break" "true" ) }}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "page-title.html" (dict "pageTitle" "CONSUMER FARM DETAILS" "className" "medium") }}
            {{ partial "info-table.html" (dict "message" "No Farm Details available.")}}
        </td>
    </tr>
</table>

{{ end }}