{{ define "main" }}
<table class="no-break">
    <tr>
        <td>
            {{ partial "page-title" (dict "pageTitle" "CIBIL FARM REPORT" "pageTitleSmall" "powered by SatSure" ) }}
        </td>
    </tr>
</table>

{{ partial "error-block.html" (dict "errorMessage" "YOUR REQUEST HAS BEEN REJECTED BY THE CREDIT BUREAU SERVER. PLEASE MAKE THE APPROPRIATE CHANGE AND RESUBMIT THE REQUEST OR CONTACT THE SYSTEM ADMINISTRATOR." "title" "CONSUMER FARM DETAILS") }}

<table class="no-break">
    <tr>
        <td>
            {{ partial "page-title" (dict "pageTitle" "CONSUMER CIR DETAILS" "className" "section-title") }}
            {{ partial "info-table.html" (dict "data" .Site.Data.report_member_info.data)}}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "CONSUMER INFORMATION") }}
            {{ partial "consumer-info-table.html" ( dict "consumerInfo" .Site.Data.consumer_info.consumerInfo) }}
        </td>
    </tr>
</table>

<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "CIBIL Transunion Score(s) And CONSUMER FARM(s) Score") }}
            {{ partial "halfcircle-graphs" (dict "rightError" true "errorMessage" "Request has been rejected." "leftGraph" .Site.Data.halfcircle_graph.left_graph) }}
        </td>
    </tr>
</table>
<table class="no-break">
    <tr>
        <td>
            {{ partial "table-title" (dict "tableTitle" "CONSUMER SUMMARY ") }}
            {{ partial "summary-table" (dict "tableHead" .Site.Data.consumer_summary.table_head "tableBody" .Site.Data.consumer_summary.table_body ) }}
        </td>
    </tr>
</table>
{{ end }}