{{ define "main" }}
    {{partial "survey-report_landDetails" (dict "surveyReports" .Site.Data.survey_reports.G5 )}}

    {{ partial "spacer" (dict "space" "20" )}}

    <table class="no-break">
        <tr>
            <td>
                {{ partial "page-title.html" (dict "pageTitle" "GLOSSARY" "customMargin" "30") }}
                {{ partial "title-table" (dict "tableBody" .Site.Data.data_insight_report.glossary_farm_data.table_body "className" "white-row compact-row" "headerTitle" "FARM DATA GLOSSARY" "break" true ) }}
            </td>
        </tr>
    </table>

    <table class="no-break">
        <tr>
            <td>
                {{ partial "report-end" (dict "text" "END OF REPORT ON Mohana Parab") }}
            </td>
        </tr>
    </table>
{{ end }}